{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div style="background-color: green; width:100%; height:100px">
    <h3 class="text-white container pt-4">Contact Us</h3>
</div>
 
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14405.563172400643!2d81.8639163!3d25.4920102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6690dd2de3a1415b!2sMotilal%20Nehru%20National%20Institute%20of%20Technology%2C%20Allahabad!5e0!3m2!1sen!2snp!4v1621710141146!5m2!1sen!2snp" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
        <div class="col-sm-6 mt-5">
            <p><i class="fas fa-envelope" ></i> Email ID : <a style="color: black;"  href="mailto:shivamkumar742247@gmail.com">shivamkumar742247@gmail.com </a></p>
            <p><i class="fas fa-phone-square"></i> Contact : 7004499789</p>
            <p><i class="fas fa-address-card"></i> Address : <a target="_blank" style="color: black;" href="https://www.google.com/maps/place/Motilal+Nehru+National+Institute+of+Technology,+Allahabad/@25.4921692,81.8476131,15z/data=!4m10!1m2!2m1!1smnnit!3m6!1s0x399aca78818ddc51:0x6690dd2de3a1415b!8m2!3d25.4934118!4d81.8627391!15sCgVtbm5pdJIBCnVuaXZlcnNpdHngAQA!16zL20vMDg1ejc3?entry=ttu">Prayagraj </a></p>
            <p><i class="far fa-clock"></i> Office Hours : 10:00 am to 6:00 pm</p>
            <p>Follow Us: </p>
            <div className="connect">
			    <a target='_blank' href="https://www.linkedin.com/in/shivam-kumar-4049511aa" id="Linkedin"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNRC7FvV7FrF9zLeeL19jVkwCeb_XkhpYgofx_Gj4FfQ&s" style="height: 35px; width: 35px;"></a> 
				<a target='_blank' href="https://www.facebook.com/profile.php?id=100014885528646" id="facebook"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/480px-Facebook_Logo_%282019%29.png" style="margin-left: 10px; height: 35px; width: 35px;"></a> 
				<a target='_blank' href="https://twitter.com/shivam_kumar742" id="twitter"><img src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.2082370165.1710633600&semt=ais" style="margin-left: 10px; height: 35px; width: 35px;"></a>
			</div>
		</div>
        </div>
    </div>
</div>
<br><br>
{% endblock %} 